.card {
  transition: transform 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.888);
}

.card:hover {
  transform: scale(1.05);
}

.dash-bgimg {
  background-image: url('https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149020364.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
//   background-color: aqua;
  width: 100%;
  display: flex;
  align-items: center;
}