.maintit{
    color: black;
}
.card-img-top {
  width: 100%;
  height: 400px;  /* You can adjust the height here */
  object-fit: cover;
  object-position: top;  /* Focuses on the top part of the image */
}
