html {
  scroll-behavior: smooth;
}

/* Navbar adjustments */
.navbar-brand {
  font-size: 1.4rem;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Hero Section */
.hero-image {
  background-image: url("https://cdn.pixabay.com/photo/2024/08/21/11/14/doctor-8985900_640.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* full screen height */
  width: 100%;
  position: relative;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.516);
  padding: 40px;
  border-radius: 20px;
}

/* Section Titles */
h2 {
  color: #0d6efd;
  margin-bottom: 20px;
}

/* Card Hover Effect */
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.card-img-top {
  width: 100%;
  height: 400px;  /* You can adjust the height here */
  object-fit: cover;
  object-position: top;  /* Focuses on the top part of the image */
}
