.back-img {
  background-image: url('https://img.freepik.com/premium-photo/hospital-corridor-hd-8k-wallpaper-stock-photographic-image_890746-134072.jpg'); // Make sure this image exists
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: aqua;
  width: 100%;
  display: flex;
  align-items: center;
}

.loginCont{
    background-color: rgba(240, 248, 255, 0.749);
    border-radius: 20px;
    padding: 20px;
}

